.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;

    border: 1px solid transparent;
    border-radius: 22px;

    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
    color: #D41443;

    background-color: white;

}